@keyframes traffic-flow {
    from {
        stroke-dashoffset: 10;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.traffic-edge-anim {
    /* This class ensures the animation is active */
    stroke-linecap: round;
}