.app-container {
  padding: 20px;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  font-family: var(--vscode-font-family);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--vscode-textLink-foreground);
}
