# {{.Header.Name}}
{{if .Header.Description}}{{.Header.Description}}

{{end}}
{{.TOC}}
{{.ExecutiveSummary}}
{{.Overview}}
{{.Systems}}
{{.Deployments}}
{{.Persons}}
{{.Requirements}}
{{.ADRs}}
{{.QualityAttributes}}
{{.Security}}
{{.CapacityPlanning}}
{{.MonitoringObservability}}
{{.FailureModes}}
{{.DependencyRiskAssessment}}
{{.ComplianceMatrix}}
{{.CostAnalysis}}
{{.APIVersioning}}
{{.MultiRegionConsiderations}}
{{.DataLifecycleManagement}}
{{.Policies}}
{{.Flows}}
{{.Contracts}}
{{.Scenarios}}
{{.Relations}}
{{.DataConsistency}}
{{.Constraints}}
{{.Conventions}}
{{.DomainModel}}
{{.Metadata}}
{{.Glossary}}

