{{define "systems"}}
{{if hasSystems .Architecture}}
## Systems

{{range .Architecture.Systems}}
### {{.Label}}
{{if .Description}}
{{.Description}}

{{end}}
{{if or (gt (len .Containers) 0) (gt (len .DataStores) 0) (gt (len .Queues) 0)}}
#### Container View (C4 L2)

```mermaid
{{diagramSystemContainer . $.Architecture $.MermaidConfig}}
```

{{end}}
{{if gt (len .Containers) 0}}
#### Component View (C4 L3)

{{range .Containers}}
{{if or (gt (len .Components) 0) (gt (len .Relations) 0)}}
##### {{.Label}} (C4 L3)

```mermaid
{{diagramContainerComponent . $ $.Architecture $.MermaidConfig}}
```

{{end}}
{{end}}
{{end}}
{{if gt (len .Containers) 0}}
#### Containers

{{range .Containers}}
- **{{.ID}}**: {{.Label}}{{if .Description}} - {{.Description}}{{end}}
{{end}}

{{end}}
{{if gt (len .Components) 0}}
#### Components

{{range .Components}}
- **{{.ID}}**: {{.Label}}{{if .Description}} - {{.Description}}{{end}}
{{end}}

{{end}}
{{if gt (len .DataStores) 0}}
#### Data Stores

{{range .DataStores}}
- **{{.ID}}**: {{.Label}}{{if .Description}} - {{.Description}}{{end}}
{{end}}

{{end}}
{{if gt (len .Queues) 0}}
#### Queues

{{range .Queues}}
- **{{.ID}}**: {{.Label}}{{if .Description}} - {{.Description}}{{end}}
{{end}}

{{end}}
{{end}}
{{end}}
